body{
    color: white;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url('/IMG/pexels-sergio-pirola-5910910.jpg');
    padding: 20px;
    background-size: cover;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#tags ul li{
    margin-right: 25px;
    display: inline-block;
}

#tags ul li a{
    position: relative;
    color: white;
    text-decoration: none;
}

#button a{
    padding: 7px;
    border-radius: 7px;
    background-color: rgb(231, 90, 90);
    text-decoration: none;
    color: white;
}

#button a:hover{
    transition: 0.5s;
    border: 1px solid rgb(231, 90, 90);
    background-color: rgba(0, 0, 0, 0);
}

article{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

article h2{
    font-size: 50px;
    line-height: 60px;
}
#reserva{
    margin-top: 30px;
}
#reserva a{
    font-weight: bold;
    padding: 7px;
    border-radius: 7px;
    background-color: rgb(231, 90, 90);
    text-decoration: none;
    color: white;
}

#reserva a:hover{
    transition: 0.5s;
    background-color: rgb(240, 60, 60);
}

/* Estilos para dispositivos móveis com largura máxima de 600px */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #logo {
        margin-bottom: 20px;
    }

    #tags {
        
        margin-bottom: 20px;
    }

    #tags ul li {
        
        margin-right: 15px;
    }

    article h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

/* Estilos para dispositivos móveis com largura máxima de 400px */
@media (max-width: 400px) {
    article h2 {
        font-size: 24px;
        line-height: 32px;
    }

    #reserva a {
        font-size: 14px;
        padding: 5px;
    }
}
